<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Peter Holland, Carpenter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Peter Holland is a carpenter located in Port Angeles, WA">

    <!-- Styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<!-- Font awesome -->
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>
  <!-- Starting header -->
	<div class="header">
	  <div class="container-fluid">
	    <div class="row-fluid">
	      <div class="span4">
			<img src="assets/img/avatar.jpg" title="Avatar" alt="My Avatar" class="avatar">
			<h4>James Smith</h4>
			<p>Professional web developer</p>
			<p class="muted">contact@gmail.com</p>
			<div class="clearfix"></div>
		  </div>
		  <div class="span4 hidden-phone">
			<ul>
			  <li><i class="icon-home"></i> Chicago, United States</li>
			  <li><i class="icon-envelope"></i> contact@gmail.com</li>
			  <li><i class="icon-user"></i> +0 (000) 000-00-00</li>
			</ul>
		  </div>
		  <div class="span4 hidden-phone">
			<a href="#" class="btn btn-square"><i class="icon-print"></i> Print</a>
			<a href="#" class="btn btn-dark btn-square"><i class="icon-file icon-white"></i> Download .pdf</a>
		  </div>
		</div>
	  </div>
	</div>
	
	<!-- Starting main block -->
    <div class="container-fluid">
      <div class="row-fluid">
	    <!--  Starting left block -->
        <div class="span3 left-column">
		  <div class="left-block">
		    <h4>Availability</h4>
		    <hr>
			<table class="table table-condensed table-bordered table-striped">
				<thead>
					<tr>
					  <th colspan="7" >
						<a class="btn btn-block">February 2012</a>
					  </th>
					</tr>
					<tr>
						<th>Su</th>
						<th>Mo</th>
						<th>Tu</th>
						<th>We</th>
						<th>Th</th>
						<th>Fr</th>
						<th>Sa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="muted">29</td>
						<td class="muted">30</td>
						<td class="muted">31</td>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
					</tr>
					<tr>
						<td>5</td>
						<td>6</td>
						<td>7</td>
						<td>8</td>
						<td>9</td>
						<td>10</td>
						<td>11</td>
					</tr>
					<tr>
						<td>12</td>
						<td>13</td>
						<td>14</td>
						<td>15</td>
						<td><strong>16</strong></td>
						<td><strong>17</strong></td>
						<td>18</td>
					</tr>
					<tr>
						<td>19</td>
						<td><strong>20</strong></td>
						<td><strong>21</strong></td>
						<td><strong>22</strong></td>
						<td><strong>23</strong></td>
						<td><strong>24</strong></td>
						<td>25</td>
					</tr>
					<tr>
						<td>26</td>
						<td><strong>27</strong></td>
						<td><strong>28</strong></td>
						<td><strong>29</strong></td>
						<td class="muted">1</td>
						<td class="muted">2</td>
						<td class="muted">3</td>
					</tr>
				</tbody>
			</table>
		    <div class="clearfix"></div>
		  </div>
		  <div class="left-block">
			<h4>Location</h4>
			<hr>
			<p>
			  <!-- Google Maps widget. Replace with your actual location -->
			  <iframe width="280" height="201" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Chicago,+IL,+United+States&amp;aq=0&amp;oq=chicago&amp;sll=37.0625,-95.677068&amp;sspn=54.928982,79.013672&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Chicago,+Cook,+Illinois&amp;ll=41.877741,-87.6297&amp;spn=0.205523,0.383148&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Chicago,+IL,+United+States&amp;aq=0&amp;oq=chicago&amp;sll=37.0625,-95.677068&amp;sspn=54.928982,79.013672&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Chicago,+Cook,+Illinois&amp;ll=41.877741,-87.6297&amp;spn=0.205523,0.383148&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</p>
		  </div>
		</div>
		<!-- Starting right block -->
		<div class="span9 right-column">
		  <h3><i class="icon-bell"></i> Education</h3>
		  <div class="row-fluid">
			<div class="span4">
			  <div class="right-block">
			    <h4>High School</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">1</div>
			  </div>
			</div>
			<div class="span4">
			  <div class="right-block">
			    <h4>College</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">2</div>
			  </div>
			</div>
			<div class="span4">
			  <div class="right-block">
			    <h4>University</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">3</div>
			  </div>
			</div>
		  </div>
		  <h3><i class="icon-group"></i> Employment history</h3>
		  <div class="row-fluid">
			<div class="span6">
			  <div class="right-block">
			    <h4>My First Work</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">1</div>
			  </div>
			</div>
			<div class="span6">
			  <div class="right-block">
			    <h4>My Second Work</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">2</div>
			  </div>
			</div>
		  </div>
		  <h3><i class="icon-trophy"></i> Professional Skills</h3>
		  <div class="row-fluid">
			<div class="span3">
			  <div class="right-block">
			    <h4>Web Development</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">1</div>
			  </div>
			</div>
			<div class="span3">
			  <div class="right-block">
			    <h4>Programming</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">2</div>
			  </div>
			</div>
			<div class="span3">
			  <div class="right-block">
			    <h4>Design</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">3</div>
			  </div>
			</div>
			<div class="span3">
			  <div class="right-block">
			    <h4>Multimedia</h4>
				<p>
				  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="num">4</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- Starting contact me block -->
	<div class="contact-title" data-toggle="collapse" data-target="#contact"><i class="icon-envelope icon-white"></i> Contact Me</div>
	  <div class="contact collapse" id="contact">
		<div class="container-fluid">
		  <div class="row-fluid">
			<div class="span9 offset3">
				<form class="form-horizontal">
				  <div class="control-group">
					<label class="control-label" for="inputName">Your Name</label>
					<div class="controls">
					  <input type="text" class="input-xlarge" id="inputName" placeholder="Name">
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="inputEmail">Your E-mail</label>
					<div class="controls">
					  <input type="email" class="input-xlarge" id="inputEmail" placeholder="E-mail">
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="inputMessage">Your Message</label>
					<div class="controls">
					  <textarea rows="3" class="input-xlarge" id="inputMessage" placeholder="Your Message"></textarea>
					</div>
				  </div>
				  <div class="control-group">
					<div class="controls">
					  <label class="checkbox">
						<input type="checkbox"> Send a copy to myself
					  </label>
					  <button type="submit" class="btn btn-grey">Send E-mail</button>
					</div>
				  </div>
				</form>
			</div>
		  </div>
		</div>
	</div>
	
	<!-- Starting footer -->
	<div class="footer">
	  <div class="container-fluid">
	    <div class="row-fluid">
	      <div class="span12">
		  Copyright &copy; 2013 James Smith - All rights reserved.
		  </div>
		</div>
	  </div>
	</div>

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

  </body>
</html>