/* Blue */

a{
	color: #1ec0ca;
}

a:hover{
	color: #16aeb8;
}

.color{
	color: #1ec0ca;
}

.navbar .btn{
	background: #1ec0ca;
}

.navbar .btn:hover{
	background: #16aeb8;
}

.navbar .nav > li > a:hover{
	background: #1ec0ca !important;
}   

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
	background: #1ec0ca !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: #1ec0ca !important;
}

header{
	border-top: 4px solid #16aeb8;
	border-bottom: 2px solid #16aeb8;
	background: #1ec0ca;	
}

.recent-posts .carousel_nav i{
	background: #1ec0ca;
}

.sponsors .carousel_nav i{
	background: #1ec0ca;
}

.pricel .phead-top{
	background: #1ec0ca;
}

.aboutus .asocial i{
	background:#1ec0ca;
}


.paging a:hover{
	background: #1ec0ca;
}

.paging .current{
	background: #1ec0ca;
}

.totop a, .totop a:visited{
	background: #1ec0ca;
}

/* Responsive */

@media (max-width: 767px){
	.dropdown-menu a:hover,.dropdown-menu a:focus{
		background: #1ec0ca !important;
	}
}

@media (min-width: 768px) and (max-width: 979px){
	.dropdown-menu a:hover,.dropdown-menu a:focus{
		background: #1ec0ca !important;
	} 
}