<div class="span9">
  <%= image_tag('peter_holland.png', :class => "img-polaroid")  %>


  <h1>Peter Holland</h1>
  <h6>Carpenter and Handyman</h6>
  <p>"Experienced commercial and home carpentry. I build from foundation to finish."</p>

  <div class="clearfix"></div>
  </div>
  <div class="span3 hidden-phone">
  <ul>
    <li><i class="icon-envelope-alt"></i> peter1457@outlook.com</li>
    <li><i class="icon-home"></i> Port Angeles, WA</li>
    <li><i class="icon-user"></i> (360) 461-4449</li>
    <li><%= link_to "Download Resume PDF", "peter_holland.pdf", :class => "btn btn-warning" %></li>
  </ul>



  </div>